<div class="col-md-3" >
          <img src="./Public/img/submail.jpg" class="img-responsive" alt="邮件订阅">
          <div id="right">
  				
  				<div class="cal"><h4>日历</h4>
<section class="main">
        <div class="custom-calendar-wrap">
          <div id="custom-inner" class="custom-inner">
            <div class="custom-header clearfix">
              <nav>
                <span id="custom-prev" class="custom-prev"></span>
                <span id="custom-next" class="custom-next"></span>
              </nav>
              <h2 id="custom-month" class="custom-month"></h2>
              <h3 id="custom-year" class="custom-year"></h3>
            </div>
            <div id="calendar" class="fc-calendar-container"></div>
          </div>
        </div>
      </section>
          </div>
  				<div class="theme"><h4>热门主题</h4>
          <a href="#" class="btn btn-info btn-xs" role="button">狮子山讲坛</a>
          <a href="#" class="btn btn-info btn-xs" role="button">共同空间</a>
          <a href="#" class="btn btn-info btn-xs" role="button">耕读茶室</a>
          <a href="#" class="btn btn-info btn-xs" role="button">高雅艺术进校园</a>
         </div>
  				<div class="place"><h4>热门地点</h4>
          <a href="#" class="btn btn-info btn-xs" role="button">狮子山讲坛</a>
          <a href="#" class="btn btn-info btn-xs" role="button">共同空间</a>
          <a href="#" class="btn btn-info btn-xs" role="button">耕读茶室</a>
          <a href="#" class="btn btn-info btn-xs" role="button">高雅艺术进校园</a>
        </div>
  				<div class="organizer"><h4>热门组织</h4>
          <a href="#" class="btn btn-info btn-xs" role="button">校团委</a>
          <a href="#" class="btn btn-info btn-xs" role="button">宣传部</a>
          <a href="#" class="btn btn-info btn-xs" role="button">植科院</a>
          <a href="#" class="btn btn-info btn-xs" role="button">文法学院</a>
        </div>
          </div>
  			</div>