<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>校园日历-Compus Calender</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="./Public/css/bootstrap.css" >
    <link rel="stylesheet" href="./Public/css/home.css">
    <link rel="stylesheet" type="text/css" href="./Public/css/calendar.css" />
    <link rel="stylesheet" type="text/css" href="./Public/css/calendar_custom.css" />
    <link rel="stylesheet" href="./Public/css/font-awesome.css">
    <script src="./Public/js/modernizr.custom.63321.js"></script>  <!-- 日历插件需要 -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <include file="Public/header" />
    <!-- 正文 开始 -->
    <div class="container top20">
        <div class="row">
            <div class="col-md-9" id="main">

                <!-- 推荐区 开始 -->
                <div class="intro row">
                    <div class="col-md-8">
                        <div class="thumbnail">
                            <a href="">
                                <img src="./Public/img/pic2.jpg" alt="...">
                            </a>
                            <div class="caption">
                                <a href=""><h3>植物生物学与生物质利用双边学术会议</h3></a>
                                <p>中国食品科学技术学会决定召开“现代食品制造与安全研讨会”，旨在交流我国当前食品制造、质量控制和食品安全领域的热点问题，探讨我国现代食品制造和安全的科学技术发展趋势，促进和加强广大食品科学家和青年学者的学术交流，同时密切学术界与产业界及科技管理部门之间的联系。</p>
                            </div>
                            <div class="info">
                                <a href="#" data-toggle="tooltip" data-placement="left" title="点击查看全部活动">食品科技学院</a>
                                <a href="#" class="pull-right"><i class="fa fa-calculator"></i> 2014年10月2日</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="./Public/img/pic1.jpg" alt="...">
                            <div class="caption">
                                <h4>利用双边学术会议</h4>
                            </div>
                            <div class="info">
                                <a href="#">食品科技学院</a>
                                <a href="#" class="pull-right">2014年10月2日</a>
                            </div>
                        </div>
                        <div class="thumbnail">
                            <img src="./Public/img/pic3.jpg" alt="...">
                            <div class="caption">
                                <h4>利用双边学术会议</h4>
                            </div>
                            <div class="info">
                                <a href="#">食品科技学院</a>
                                <a href="#" class="pull-right">2014年10月2日</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 推荐区 结束 -->
                <!-- 列表区 开始 -->
                <div class="list row">
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href=""><img src="./Public/img/pic6.jpg" alt="..."></a>
                            <div class="caption">
                                <h4>植物生物学与生物质利用双边学术会议</h4>
                                <p>中国食品科学技术学会决定召开“现代食品制造与安全研讨会”，旨在交流我国当前食品制造、质量控制和和加强广大食品科学家和青年学者的学术交流，同时密切学术界与产业界及科技管理部门之间的联系。</p>
                            </div>
                            <div class="info">
                                <a href="#">食品科技学院</a>
                                <a href="#" class="pull-right">2014年10月2日</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="./Public/img/pic4.jpg" alt="...">
                            <div class="caption">
                                <h4>植物生物学与生物质利用双边学术会议</h4>
                                <p>中国食品科学技术学会决定召开“现代食品制造与安全研讨会”，旨在交流我国当前食品制造、质量控进和加强广大食品科学家和青年学者的学术交流，同时密切学术界与产业界及科技管理部门之间的联系。</p>
                            </div>
                            <div class="info">
                                <a href="#">食品科技学院</a>
                                <a href="#" class="pull-right">2014年10月2日</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="./Public/img/pic3.jpg" alt="...">
                            <div class="caption">
                                <h4>植物生物学与生物质利用双边学术会议</h4>
                                <p>中国食品科学技术学会决定召开“现代食品制造与安全研讨会”，旨在交流我国当前食品制造、质量控制和食品安全领域的热点问题，探讨我国现代食品制造和安全的科学技术发展趋势，促进和加强广大食品科学家和青年学者的学术交流，同时密切学术界与产业界及科技管理部门之间的联系。</p>
                            </div>
                            <div class="info">
                                <a href="#">食品科技学院</a>
                                <a href="#" class="pull-right">2014年10月2日</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="./Public/img/pic4.jpg" alt="...">
                            <div class="caption">
                                <h4>植物生物学与生物质利用双边学术会议</h4>
                                <p>中国食品科学技术学会决定召开“现代食品制造与安全研讨会”，旨在交流我国当前食品制造、质量控制和食品安全领域的热点问题，探讨我国现代食品制造和安全的科学技术发展趋势，促进和加强广大食品科学家和青年学者的学术交流，同时密切学术界与产业界及科技管理部门之间的联系。</p>
                            </div>
                            <div class="info">
                                <a href="#">食品科技学院</a>
                                <a href="#" class="pull-right">2014年10月2日</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="./Public/img/pic5.jpg" alt="...">
                            <div class="caption">
                                <h4>植物生物学与生物质利用双边学术会议</h4>
                                <p>中国食品科学技术学会决定召开“现代食品制造与安全研讨会”，旨在交流我国当前食品制造、质量控制和食品安全领域的热点问题，探讨我国现代食品制造和安全的科学技术发展趋势，促进和加强广大食品科学家和青年学者的学术交流，同时密切学术界与产业界及科技管理部门之间的联系。</p>
                            </div>
                            <div class="info">
                                <a href="#">食品科技学院</a>
                                <a href="#" class="pull-right">2014年10月2日</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="./Public/img/pic1.jpg" alt="...">
                            <div class="caption">
                                <h4>植物生物学与生物质利用双边学术会议</h4>
                                <p>中国食品科学技术学会决定召开“现代食品制造与安全研讨会”，旨在交流我国当前食品制造、质量控制和食品安全领域的热点问题，探讨我国现代食品制造和安全的科学技术发展趋势，促进和加强广大食品科学家和青年学者的学术交流，同时密切学术界与产业界及科技管理部门之间的联系。</p>
                            </div>
                            <div class="info">
                                <a href="#">食品科技学院</a>
                                <a href="#" class="pull-right">2014年10月2日</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 列表区 结束 -->
                <div class="newslist">新闻列表区</div>
            </div>
            <!-- 正文>右侧 开始 -->
            <include file="Public/right" />
            <!-- 正文>右侧 结束 -->
        </div>
    </div>
    <!-- 正文 结束 -->
    <div id="footer">
        <div class="container">
            <p class="text-muted">华中农业大学新闻中心旗下网站</p>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="./Public/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./Public/js/jquery.calendario.js"></script>
    <script type="text/javascript" src="./Public/js/data.js"></script>
    <script type="text/javascript">
    $(function() {

        var transEndEventNames = {
                'WebkitTransition': 'webkitTransitionEnd',
                'MozTransition': 'transitionend',
                'OTransition': 'oTransitionEnd',
                'msTransition': 'MSTransitionEnd',
                'transition': 'transitionend'
            },
            transEndEventName = transEndEventNames[Modernizr.prefixed('transition')],
            $wrapper = $('#custom-inner'),
            $calendar = $('#calendar'),
            cal = $calendar.calendario({
                onDayClick: function($el, $contentEl, dateProperties) {

                    if ($contentEl.length > 0) {
                        showEvents($contentEl, dateProperties);
                    }

                },
                caldata: codropsEvents,
                displayWeekAbbr: true
            }),
            $month = $('#custom-month').html(cal.getMonthName()),
            $year = $('#custom-year').html(cal.getYear());

        $('#custom-next').on('click', function() {
            cal.gotoNextMonth(updateMonthYear);
        });
        $('#custom-prev').on('click', function() {
            cal.gotoPreviousMonth(updateMonthYear);
        });

        function updateMonthYear() {
            $month.html(cal.getMonthName());
            $year.html(cal.getYear());
        }

        // just an example..
        function showEvents($contentEl, dateProperties) {

            hideEvents();

            var $events = $('<div id="custom-content-reveal" class="custom-content-reveal"><h4>Events for ' + dateProperties.monthname + ' ' + dateProperties.day + ', ' + dateProperties.year + '</h4></div>'),
                $close = $('<span class="custom-content-close"></span>').on('click', hideEvents);

            $events.append($contentEl.html(), $close).insertAfter($wrapper);

            setTimeout(function() {
                $events.css('top', '0%');
            }, 25);

        }

        function hideEvents() {

            var $events = $('#custom-content-reveal');
            if ($events.length > 0) {

                $events.css('top', '100%');
                Modernizr.csstransitions ? $events.on(transEndEventName, function() {
                    $(this).remove();
                }) : $events.remove();

            }

        }

    });

    $(function() {
        $('[data-toggle="tooltip"]').tooltip()
    })
    </script>
</body>

</html>
