<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>校园日历-Compus Calender</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="./Public/css/bootstrap.css">
    <link rel="stylesheet" href="./Public/css/user.css">
    <link rel="stylesheet" href="./Public/js/uploadify/bootstrap-switch.css" />
    <link rel="stylesheet" href="./Public/js/uploadify/uploadify.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <include file="Public/header" />
    <!-- 正文 开始 -->
    <div class="container top20">
        <div class="row">
            <div class="col-md-9" id="main">
                <div class="data">
                    <!-- 活动预告表单 开始 -->
                    <form class="form-horizontal" method="post" id="cal-form">
                        <div class="form-group">
                            <label for="cid" class="col-sm-2 control-label">活动类型</label>
                            <div class="col-sm-10">
                                <label class="radio-inline">
                                    <input type="radio" name="cid" id="cid1" value="1" checked="checked"> 学术
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="cid" id="cid2" value="2"> 文化
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="cid" id="cid3" value="3"> 其他
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="bid" class="col-sm-2 control-label">品牌/栏目</label>
                            <div class="col-sm-3">
                                <select class="form-control" id="bid" name="bid">
                                    <option value="">请选择……</option>
                                    <volist name="brands" id="vo">
                                        <option value="{$vo.bid}" data-thumb="{$vo.thumb}">{$vo.name}</option>
                                    </volist>
                                </select>
                                <a href="{:U('Brands/index')}">管理自有品牌/栏目</a>
                            </div>
                            <label for="bno" class="col-sm-2 control-label">期数</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="bno" id="bno" placeholder="填写期号">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">活动名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="title" id="title" placeholder="请填写活动标题" value="学术活动测试文档">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="thumb" class="col-sm-2 control-label">上传或选择题图</label>
                            <div class="col-sm-10">
                                <input id="file_upload" type="file" multiple="true">
                                <img style="display: none" id="upload_org_code_img" src="" width="150" height="150">
                                <input id="file_upload_image" name="thumb" type="hidden" multiple="true" value="">
                                <div class="row radio-pic" style="padding-top: 20px;">
                                    <div class="col-sm-3" id="userthumb" style="display:none;">
                                        <label class="thumbnail">
                                            <img src="__PUBLIC__/img/pic1.jpg" alt="...">
                                            <input type="radio" name="thumbno" value="1"> <span>学术活动</span>
                                        </label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="thumbnail">
                                            <img src="__PUBLIC__/img/pic1.jpg" alt="...">
                                            <input type="radio" name="thumbno" value="1"> 学术活动
                                        </label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="thumbnail">
                                            <img src="__PUBLIC__/img/pic2.jpg" alt="...">
                                            <input type="radio" name="thumbno" value="2"> 学术活动
                                        </label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="thumbnail">
                                            <img src="__PUBLIC__/img/pic3.jpg" alt="...">
                                            <input type="radio" name="thumbno" value="3"> 学术活动
                                        </label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="thumbnail">
                                            <img src="__PUBLIC__/img/pic4.jpg" alt="...">
                                            <input type="radio" name="thumbno" value="4"> 学术活动
                                        </label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="thumbnail">
                                            <img src="__PUBLIC__/img/pic5.jpg" alt="...">
                                            <input type="radio" name="thumbno" value="5"> 学术活动
                                        </label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="thumbnail">
                                            <img src="__PUBLIC__/img/pic6.jpg" alt="...">
                                            <input type="radio" name="thumbno" value="6"> 学术活动
                                        </label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="thumbnail">
                                            <img src="__PUBLIC__/img/pic1.jpg" alt="...">
                                            <input type="radio" name="thumbno"> 学术活动
                                        </label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="thumbnail">
                                            <img src="__PUBLIC__/img/pic2.jpg" alt="...">
                                            <input type="radio" name="thumbno"> 学术活动
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="content" class="col-sm-2 control-label">活动内容</label>
                            <div class="col-sm-10">
                                <script id="content" name="content" type="text/plain"></script>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">摘要</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">承办单位（审核方）</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="如不填，默认为承办单位" value=" {$_SESSION['calUser']['department']|getDepartmentById}" disabled="disabled">
                                <input type="hidden" name="did" value="{$_SESSION['calUser']['department']}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">主办单位</label>
                            <div class="col-sm-10">
                                <select class="form-control">
                                    <option>请选择……</option>
                                    <option>文法学院</option>
                                    <option>校团委</option>
                                    <option>狮子山艺苑</option>
                                    <option>————————————</option>
                                    <option value="">学术活动</option>
                                    <option value="">文艺活动</option>
                                    <option value="">体育活动</option>
                                </select>
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="end_time" class="col-sm-2 control-label">活动时间</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="end_time" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address" class="col-sm-2 control-label">活动地点</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="address" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default"  id="cal-button-submit">提交</button>
                            </div>
                        </div>
                    </form>
                    <!-- 活动预报表单 结束 -->
                </div>
            </div>
            <!-- 正文>右侧 开始 -->
            <include file="Public/right" />
            <!-- 正文>右侧 结束 -->
        </div>
    </div>
    <!-- 正文 结束 -->
    <include file="Public/footer" />
    <script>
    var SCOPE = {
        'save_url': '{:U("Events/add")}',
        'jump_url': '{:U("Index/contentlist")}',
        'ajax_upload_image_url': '{:U("Events/ajaxuploadimage")}',
        'ajax_upload_swf': '/Public/js/uploadify/uploadify.swf',
    }
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="./Public/js/bootstrap.min.js"></script>
    <script src="./Public/js/dialog/layer.js"></script>
    <script src="./Public/js/dialog.js"></script>
    <script src="./Public/js/user/common.js"></script>
    <script src="./Public/js/ueditor/ueditor.config.js"></script>
    <script src="./Public/js/ueditor/ueditor.all.js"></script>
    <script>
    var ue = UE.getEditor('content', {
        // toolbars: [
        //     ['fullscreen', 'source', 'undo', 'redo', 'bold', 'autotypeset', 'drafts', 'attachment', 'indent', ]
        // ],
        // serverUrl:'/Public/js/ueditor/php/controller.php'
        serverUrl:'{:U("Upload/index")}',

    });
    ue.ready(function() {
        //设置编辑器的内容
        ue.setContent('hello');
        //获取html内容，返回: <p>hello</p>
        // var html = ue.getContent();
        //获取纯文本内容，返回: hello
        // var txt = ue.getContentTxt();
    });

    </script>
    <script src="./Public/js/uploadify/jquery.uploadify.js"></script>
    <script src="./Public/js/user/image.js"></script>
    <script>
        $(document).ready(function() {
            $("#bid").change(function(){
                target = $("#bid").find("option:selected");
                console.log(target.attr("value"));
                if(target.attr("value")==''){
                    $("#userthumb").hide(200);
                    $("#file_upload").show(200);
                }else{
                    var thumbSrc = target.attr("data-thumb");
                    $("#userthumb").find("img").attr("src",thumbSrc);
                    $("#userthumb").find("input").attr("checked","checked");
                    $("#userthumb").find("span").text("品牌题图");
                    $("#userthumb").show(200);
                    $("#file_upload").hide(200);
                }
                
                // var thumbText = $("#bid").find("option:selected").text();
                

                // console.log(selectText);

            });
        })
    </script>

</body>

</html>
