<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>校园日历-Compus Calender</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="./Public/css/bootstrap.css" >
    <link rel="stylesheet" href="./Public/css/user.css" >
    <link rel="stylesheet" href="./Public/css/calendar.css" >
    <link rel="stylesheet" href="./Public/css/custom_2.css" >
    <link rel="stylesheet" href="./Public/css/font-awesome.css">
    <!-- <script src="./Public/js/modernizr.custom.63321.js"></script> -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <include file="Public/header" />
    <!-- 正文 开始 -->
    <div class="container top20">
        <div class="row">
            <div class="col-md-9" id="main">
                <div class="data">
                    <!-- 显示已发布的信息列表 -->
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>类型</th>
                                <th>标题</th>
                                <th>Brand</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>E</td>
                                <td>科学素养传播培训班</td>
                                <td>学术活动</td>
                                <td>显示</td>
                                <td>修改 | 删除</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>E</td>
                                <td>李保国事迹报告会</td>
                                <td>学术活动>干部大讲堂</td>
                                <td>过期</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>N</td>
                                <td>关于XXX的通知</td>
                                <td>通知>部门通知</td>
                                <td>显示</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- 推荐区 开始 -->
                <!-- 推荐区 结束 -->
                <!-- 列表区 开始 -->
                <div class="list row">
                </div>
                <!-- 列表区 结束 -->
            </div>
            <!-- 正文>右侧 开始 -->
            <include file="Public/right" />
            <!-- 正文>右侧 结束 -->
        </div>
    </div>
    <!-- 正文 结束 -->
    <div id="footer">
        <div class="container">
            <p class="text-muted">华中农业大学新闻中心旗下网站</p>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="./Public/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="./Public/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./Public/js/jquery.calendario.js"></script>
    <script type="text/javascript" src="./Public/js/data.js"></script>
    <script type="text/javascript">
    $(function() {

        var transEndEventNames = {
                'WebkitTransition': 'webkitTransitionEnd',
                'MozTransition': 'transitionend',
                'OTransition': 'oTransitionEnd',
                'msTransition': 'MSTransitionEnd',
                'transition': 'transitionend'
            },
            transEndEventName = transEndEventNames[Modernizr.prefixed('transition')],
            $wrapper = $('#custom-inner'),
            $calendar = $('#calendar'),
            cal = $calendar.calendario({
                onDayClick: function($el, $contentEl, dateProperties) {

                    if ($contentEl.length > 0) {
                        showEvents($contentEl, dateProperties);
                    }

                },
                caldata: codropsEvents,
                displayWeekAbbr: true
            }),
            $month = $('#custom-month').html(cal.getMonthName()),
            $year = $('#custom-year').html(cal.getYear());

        $('#custom-next').on('click', function() {
            cal.gotoNextMonth(updateMonthYear);
        });
        $('#custom-prev').on('click', function() {
            cal.gotoPreviousMonth(updateMonthYear);
        });

        function updateMonthYear() {
            $month.html(cal.getMonthName());
            $year.html(cal.getYear());
        }

        // just an example..
        function showEvents($contentEl, dateProperties) {

            hideEvents();

            var $events = $('<div id="custom-content-reveal" class="custom-content-reveal"><h4>Events for ' + dateProperties.monthname + ' ' + dateProperties.day + ', ' + dateProperties.year + '</h4></div>'),
                $close = $('<span class="custom-content-close"></span>').on('click', hideEvents);

            $events.append($contentEl.html(), $close).insertAfter($wrapper);

            setTimeout(function() {
                $events.css('top', '0%');
            }, 25);

        }

        function hideEvents() {

            var $events = $('#custom-content-reveal');
            if ($events.length > 0) {

                $events.css('top', '100%');
                Modernizr.csstransitions ? $events.on(transEndEventName, function() {
                    $(this).remove();
                }) : $events.remove();

            }

        }

    });
    </script>
</body>

</html>
